

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .top-nav {
  margin-left: -25%;
  margin-right: -20%;
} */

/* .me-auto {
  
  margin-left: 200px;
  padding: 50px;
  color: white;
  
} 

.mobile-auto {
  display: none;
}

.navbar {
  flex-wrap: nowrap;
  height: 79px;
  width: 100%;
} */

#responsive-navbar-nav {
  padding-left: 250px;
}

.btn-1 {
  background-color: transparent;
  border-color: transparent;
}

.btn-2 {
  border-color: #fff;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.search {
  height: 20px;
  width: 20px;
  padding-top: 3px;
  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: end;
  

}

.top {
  width: 100vw;
}


.form {
  width: 60%;
  border-radius: 15px;
  background-color: white;
}

.container {
  justify-content: space-evenly;
}


.carousel-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  margin-left: 10%
}

.homeImage {
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  /* position: relative; */
  object-fit: cover;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1620916056617-38ad7a44a772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover; 
  background-repeat: no-repeat;
  /* object-fit:contain; */
  height: 65vh;
  width: 100vw;
}

.section-1 {
  padding-top: 10%;
  font-size: 80px;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.h-1 {
  padding-left: 25%;
  
}

.sticky {
  z-index: 1000;
}

.test {
  z-index: 1000;
}

.lorem {
  font-size: 15px;
}

.lorem-2 {
  display: none;
}

.form-2 {
  margin-left: 25%;
  margin-right: 25%;
  height: 50px;
  position: unset;
}

.navigaton {
  display: inline;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding-left: 0;
  text-decoration: none;
  direction: inline-block;
}

.nav-1 {
  margin-top: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  height: 70px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 1rem;
}

li {
  text-align: center;
  flex-direction: row;
  padding: 14px 16px; 
  font-weight: 600;
  color: grey;

}

li a {
  display: block;
  color: grey;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fff;
  border-bottom: 2px;
  border-bottom-color: #0062be;
}

.imgs {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cat-menu {
  display: inline;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding-left: 0;
  text-decoration: none;
  direction: inline-block;
}

.menu {
  margin-top: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  height: 70px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 1rem;
}

.cat-btn {
  border-color: #d7d9db;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #7d8185;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.cat-btn:hover{
  background-color: #9ba7a1;
  border-color: #8f9491;
  color: transparent;
}


.home-row {
  padding-top: 25px;
  padding-left: -8.5%;
  padding-right: -8%;
}

.exp-row {
  padding-top: 25px;
  /* padding-left: -10.5%;
  padding-right: -7%; */
}

.explore {
  padding-left: 3%;
}

.exp-h2 {
  padding-top: 8%;
}

.exp-h3 {
  padding-top: 5%;
  margin-left: 0;
}

.exp-row {
  padding-top: 25px;
  margin-left: -8.5%;
  margin-right: -5%;
}

.exp-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.category {
  margin-left: 3%;
  padding-top: 5%;
}

.cat-h3 {
  margin-left: 5%;
}

.cat-row-img {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.d-nature {
  padding-top: 10%;
}

.nature {
  padding-top: 2%;
  margin-left: 5%;
}

.nature-1 {
  padding-top: 5%;
  margin-left: 2%;
}

.status {
  border: 1px solid black;
  border-radius: 3px;
  border-color: #e8e7e3;
  justify-content: center;
  align-items: center;
}

.nat-stat {
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.n-div {
  margin-left: 40%;
  margin-right: 20%;
  text-align: center;
  align-items: center;
}

hr {
  margin-left: 15px;
  margin-right: 15px;
}

.cat-img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.cat-row {
  padding-top: 25px;
  margin-left: -5%;
  margin-right: -2%;
}

.nat-row {
  padding-top: 100px;
  margin-left: -5%;
  margin-right: -2%;
}

.nat-row1 {
  margin-left: -5%;
  margin-right: -2%;
}

.button {
  padding-top: 3%;
}

.butn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #0062be;
  color: #fff;
}

.log-top {
  padding-top: 5%;
}

.log {
  text-align: center;
}

/* .btn-top {

} */

.logP {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.mb-3 {
  width: 40%;
  margin-left: 30%;
}

.d-grid {
  width: 40%;
  margin-left: 30%;
}

.text {
  margin-left: 40%;
}

.muted {
  margin-left: 55%;
}

.login {
  width: 100px;
}




@media only screen and (max-width: 400px) {
  .h-1 {
    padding-left: 5%;
  }
  .lorem {
    font-size: 10px;
  }

  .form-2 {
      margin-left: 5%;
      margin-right: 5%;
      height: 50px;
  }
}

@media only screen and (max-width: 960px) {
  #responsive-navbar-nav {
    padding-left: unset;
    background-color: #343a40;
    text-align: right;
    width: 60%;
    padding-right: 45px;
    z-index: 1050;

  }

  .h-1 {
    padding-left: 5%;
  }

  .sticky {
    z-index: 1500;
  }

  .lorem {
    font-size: 10px;
    
  }

  .head-2 {
    padding-top: -20%;
  }

  .form-2 {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .section-1 {
    padding-top: 50%;
    font-size: 80px;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
  }

  .background {
    height: 67vh;
  }

  /* .lorem-2 {
    display: block;
    font-size: 9px;
  } */

  .navigaton {
    display: block;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin-left: 0;
    text-decoration: none;
    direction: inline-block;
  }
  
  .nav-1 {
    margin-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background-color: #fff;
    height: 70px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    white-space: nowrap;
  }

  .exp-col-3 {
    display: none;
  }

  .cat-menu {
    display: inline;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin-left: 0;
    text-decoration: none;
    direction: inline-block;
  }
  
  .menu {
    margin-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background-color: transparent;
    height: 70px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* column-gap: 1rem; */
  }

  .cat-col {
    display: none;
  }

  .cat-col-1 {
    display: none;
  }

  .log-top {
    padding-top: 5%;
  }
  
  .log {
    text-align: center;
  }
  
  /* .btn-top {
  
  } */
  
  .logP {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .mb-3 {
    width: 40%;
    margin-left: 30%;
  }
  
  .d-grid {
    width: 40%;
    margin-left: 30%;
  }
  
  .text {
    margin-left: 40%;
  }
  
  .muted {
    margin-left: 55%;
  }
  
  .login {
    width: 100px;
  }

  /* .loginBtn {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0062be;
    border: 1px solid #7d8185;
    padding: 0.37rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } */

  .mb-3 {
    width: 70%;
    margin-left: 15%;
  }
  
  .d-grid {
    width: 70%;
    margin-left: 15%;
  }
  
  .text {
    margin-left: 23%;
  }
  
  .muted {
    margin-left: 9%;
    font-size: 11px;
  }
  
  .login {
    width: 100px;
  }
}
